.logo {
    position: absolute;
    top: 6px;
    right: 10px;
}
.ui-footer > .ui-title {
    padding: .8em -0px .2em;
}
.ui-footer > p {
    font-size: .7em;
    text-align: center;
    margin-top: 0;
}

.required-mark {
    color: #d00;
}

.ui-input-text.ui-focus.valid {
    box-shadow: 0 0 6px #088;
}
.ui-input-text.ui-focus.invalid {
    box-shadow: 0 0 6px #904;
}