.logo {
    position: absolute;
    top: 6px;
    right: 10px;
}
.ui-footer > .ui-title {
    padding: .8em -0px .2em;
}
.ui-footer > p {
    font-size: .7em;
    text-align: center;
    margin-top: 0;
}
